# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

**Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

'Ecommerce Purchases.csv'

In [64]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases.csv')

**Check the head of the DataFrame.**

In [66]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**How many rows and columns are there?**

In [68]:
print(f'the data contain {df.shape[0]} and {df.shape[1]} columns')

the data contain 10000 and 14 columns

**What is the average Purchase Price?**

In [70]:
print("The average Purchase price is ",df['Purchase Price'].mean())

The average Purchase price is  50.347302

**What were the highest and lowest purchase prices?**

In [72]:
print('The lowest Purchase price is ',df['Purchase Price'].min())

The lowest Purchase price is  0.0

In [73]:
print('The highest Purchase price is ',df['Purchase Price'].max())

The highest Purchase price is  99.99

**How many people have English 'en' as their Language of choice on the website?**

In [75]:
print(df.Language.value_counts()['en'],"people have English 'en' as their Language of choice on the website")

1098 people have English 'en' as their Language of choice on the website

**How many people have the job title of "Lawyer" ?**

In [77]:
print((df.Job == 'Lawyer').sum(),"people have the job title of 'Lawyer'")

30 people have the job title of 'Lawyer'

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()]**

In [79]:
print(df['AM or PM'].value_counts()['PM'],' people made the purchase during PM')
print(df['AM or PM'].value_counts()['AM'],' people made the purchase during AM')

5068  people made the purchase during PM
4932  people made the purchase during AM

**What are the 5 most common Job Titles?**

In [81]:
df.Job.value_counts().head()

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [83]:
print(df[df['Lot'] =='90 WT']['Purchase Price'])

513    75.1
Name: Purchase Price, dtype: float64

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [85]:
print(df[df['Credit Card'] ==4926535242672853]['Email'])

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [87]:
print(df.query('`Purchase Price`>95 and `CC Provider`=="American Express"').shape[0],"people have American Express as their Credit Card Provider and made a purchase above $95")

39 people have American Express as their Credit Card Provider and made a purchase above $95

**Hard: How many people have a credit card that expires in 2025?**

In [89]:
print((pd.to_datetime(df['CC Exp Date'],format="%m%y").dt.year==2025).sum(),'people have a credit card that expires in 2025')

ValueError: time data "02/20" doesn't match format "%m%y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [105]:
(pd.to_datetime(df['CC Exp Date'],format='%m/%y').dt.year==2025).sum()

1033

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

**Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [90]:
(df.Email.str.split('@',expand=True)[1]).value_counts().head()

1
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

# Great Job!